.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navbar simple css */

.navbar {
  background-color: rgb(236, 149, 175);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar :any-link {
  text-decoration: none;
  color: black;
}

.links :link{
  margin-left: 5px;
  margin-right: 5px;
}

.links :hover {
  border-bottom: 2px solid black;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user img {
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.user p {
  font-size: 15px;
  margin-right: 20px;
  font-weight: 700;
}

.user button {
  border: none;
  padding: 5px;
  color:rgb(2, 1, 34);
}